@media (max-width: 991.98px) {

    .service-video-section h3,
    .service-video-section h4 {
        font-size: 24px !important;
        line-height: 30px !important;
    }
}

@media screen and (min-width: 992px) {
    .quote {
        text-align: left;
        padding: 0 0 0 6em;
        line-height: 42px !important;
    }
}

.route-text {
    font-size: 20px;
    color: grey;
    text-decoration: none
}

.aboutUs-heading {
    font-size: 45px;
    font-weight: bold;
    font-family: Times New Roman, Times, serif;

}

.quote {
    text-align: left;
    padding: 0 0 0 6em;
    line-height: 42px !important;
}

.quote-writer-name {
    font-size: 25px;
    font-family: "Manrope Regular";
    margin-left: -45px;
    padding-top: 13px;
    z-index: 1;
    position: absolute;
}



.philosophy-details {
    font-size: 20px !important;
}

.phi-bottom-banner {
    background-image: url(../../assets/images/About\ Us\ Page\ Bottom\ Banner.png);
    background-size: 100%;
    padding: 15px 30px;
    background-position: center;
}

/* Media query for mobile view */

@media only screen and (max-width: 625px) {
    .aboutUs-heading {
        font-size: 30px;
        font-weight: bold;
    }

}

.about-text {
    font-family: 'Manrope ExtraBold';
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(90deg, #000, #30256d, #30256d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.know-text {
    font-family: 'Manrope ExtraBold';
    font-size: 90px;
    font-weight: bold;
    background: linear-gradient(90deg, #000, #30256d, #30256d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .age-text {
    font-family: 'Manrope ExtraBold';
  }

  .know-text {
    font-family: 'Manrope ExtraBold';
  }
  